@media (max-width:480px) {
    #header-pfp{
        display:none;
    }
    .left-section{
        margin-left: 15px;
    }
    .menu,
    .upload-icon-container,
    .youtube-apps-icon-container,
    .voice-search-button,
    .search
    {
        display: none !important;
    }
    .middle-section{
        display: none !important;
    }
    .right-section{
        width:100px !important;
        margin-right:10px;
        display:flex;
        align-items: center;
        justify-content:space-between;
        flex-shrink:0;
    }
    .right-section-search-button{
        height:40px;
        width:40px;
        border: none;
        background-color: white;
    }
    .right-section-search-icon{
        height:25px;
    }
    
}
.header{
    height:55px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color:white;
    border-bottom: 1px solid rgb(228,228,228) ;
    z-index:100;
}
.left-section{
    display:flex;
    align-items:center;
    
}
.menu{
    height:24px;
    margin-left:24px;
    margin-right:24px;
}
.youtube-logo{
    height:20px;
}
.middle-section{
    flex: 1;
    margin-left:70px;
    margin-right:35px;
    max-width:500px;
    display:flex;
    align-items: center;
}
.search{
    flex:1;
    height:36px;
    padding-left:10px;
    font-size: 16px;
    border: 1px solid hsl(0, 0%, 75%);
    border-radius: 30px 0 0 30px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width:0;
}
.search::placeholder{
    font-size:16px;
}
.search-button{
    height:40px;
    width:66px;
    background-color:rgb(240, 240, 240);
    border:1px solid hsl(0, 0%, 75%);
    margin-left:-2px;
    margin-right:10px;
    border-radius: 0px 30px 30px 0px;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container{
    border-radius:30px;
    padding:10px;
}
.search-button:hover,
.voice-search-button:hover,
.upload-icon-container:hover,
.youtube-apps-icon-container:hover,
.notifications-icon-container:hover{
    background-color:hsl(0, 0%, 93%);
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip
{
    position:absolute;
    background-color:rgb(92, 89, 89);
    color:white;
    padding:6px;
    opacity:0;
    border-radius:4px;
    font-size:12px;
    bottom:-40px;
    transition: opacity 0.15s;
    pointer-events:none;
    white-space: nowrap;

}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
    opacity:0.7;
}
.search-icon{
    height:25px;
   
}
.voice-search-button{
    height:40px;
    width:40px;
    border-radius:20px;
    border:none;
    background-color:hsl(0, 0%, 91%);

}
.voice-search-icon{
    height:25px;
    
}
.right-section{
    width:180px;
    margin-right:20px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    flex-shrink:0;
}

.upload-icon{
    height:24px;
}
.youtube-apps-icon{
    height:24px;
}
.notifications-icon{
    height:24px
}

.notifications-count{
    position:absolute;
    top:5px;
    right:-1.3px;
    background-color: rgb(200, 0, 0);
    color:white;
    font-family:Roboto,Arial;
    font-size:10px;
    padding:2px 5px;
    border-radius:10px ;
    border:1px solid white;
    
}
.current-user-picture{
    height:32px;
    border-radius:16px;
    
}